body {
    margin: 0;
    padding: 0;
    background: #ccc; 
}
.nav ul {
    list-style: none;
    background-color: #444;
    text-align: center;
    padding: 0;
    margin: 0;
}

.nav li {
    font-size: 1.2em;
    line-height: 40px;
    text-align: left;
}

.nav a {
    text-decoration: none;
    color: #fff;
    display: block;
    padding-left: 15px;
    border-bottom: 1px solid #888;
    transition: .3s;
}
.nav a:hover {
    background-color: #005f5f;
}
.nav a.active {
    background-color: #aaa;
    color: #444;
    cursor: default;
}
.nav li li{
    font-size: .8em;
}

/*for big screen*/
